<div class="imgdiv">
  <img src="/dropbox-background.jpg" alt="background picture"/>
</div>
<form id="InputForm">
  <input id="usernameInp" type="text" placeholder="Input username here" required/><br />
  <p id="OutputField"></p>

  <input id="TOSmenuCheckbox" type="checkbox" required />
  <label for="TOSmenuCheckbox">
  <span id="click-tos">Click to agree to</span>
  <a id="tos-link" href="./utils-folder/ToS.md">Terms of service</a>
</label>
  <button type="submit" id="submitTOS">Submit</button>
</form>
