<div class="imgdiv">
  <img src="/dropbox-background.jpg" alt="background picture"/>
</div>
<form id="InputForm">
  <input id="usernameInput" type="text" placeholder="Input username here" required/><br />
  <p id="OutputField"></p>

  <input id="tosMenuCheckbox" type="checkbox" required />
  <label for="tosMenuCheckbox">
  <span id="click-tos">Click to agree to</span>
  <a id="tos-link" href="./utils-folder/ToS.md">Terms of service</a>
</label>
  <button type="submit" id="submitTOS">Submit</button>
</form>
<p>
  <span id="privacy-policy">Read our privacy policy</span>
  <a id="privacy-link" href="../utils-folder/Privacy-policy.md">here</a>
</p>
<form>
        <label id="filelabel" for="fileinput">
                Upload a PNG image
        </label>
        <br>
        <input type="file" id="fileinput" required>

        <p id="fileName"></p>
        <img id="preview">
        <p id="drop-text">Or drag and drop a file onto the button above</p>
        <p id="uploadStatus"></p>
</form>