<p>
  Read our privacy policy
  <a href="../utils-folder/Privacy-policy.md">here</a>
</p>

<br />

<div>
  <img
    id="settings-gear"
    src="../utils-folder/settings-gear.png"
    alt="settings-gear"
  />
</div>

<div class="sub-menu">
  <button class="settingsClass">☀️ / 🌙 Dark / Light mode</button>

  <button id="retract-consent" class="settingsClass">
    ❌ Retract consent & delete account
  </button>

  <button id="edit-user" class="settingsClass">Edit user</button>

  <edit-user-view class="edit-user-view"></edit-user-view>
  
<delete-user-view class="delete-user-view"></delete-user-view> 