<p>
  <span id="privacy-policy">Read our privacy policy</span>
  <a id="privacy-link" href="../utils-folder/Privacy-policy.md">here</a>
</p>
</div>
<br />

<div>
  <img id="settings-gear" src="../utils-folder/settings-gear.png" alt="settings-gear" />
</div>

<div class="sub-menu">
  <button id="retract-consent" class="settingsClass">
    ❌ Retract consent & delete account
  </button>

  <button id="edit-user" class="settingsClass">Edit user</button>

<p id="exportUserdata">Export userdata:</p>
<input placeholder="Input your id" type="text" id="settingsIdInput">
  <select id="options">
  <option value="csv">CSV</option>
  <option value="json">JSON</option>
</select>

<button id="exportButton" type="button">Export</button>

  <edit-user-view class="edit-user-view"></edit-user-view>

  <delete-user-view class="delete-user-view"></delete-user-view>