 #settings-gear {
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 1000;
  width: 60px;
}

   .sub-menu {
  display: none;
  position: absolute;
  top: 70px;      /* under gear */
  right: 0;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,.15);
}

.sub-menu.open {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.delete-user-view{
    display: none;
}

.delete-user-view.open{
    display: block;
    margin-top: 30px;
}

.settingsClass {
    border: 1px solid black;   
    display: inline-block;
}

.edit-user-view{
    display: none;
}

.edit-user-view.open{
    display: block;
      margin-top: 30px;
}

#pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#usernameInp {
  width: 100%;
  max-width: 320px;
  padding: 10px 14px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}
