 #settings-gear{
    width: 60px;
 }
   .sub-menu {
    display: none;
}

.sub-menu.open {
    display: block;
    margin-top: 30px;
}

.input-div-sub-menu{
    display: none;
}

.input-div-sub-menu.open{
    display: block;
    margin-top: 30px;
}

.settingsClass {
    border: 1px solid black;   
    display: inline-block;
}

.editUserDiv{
    display: none;
}

.editUserDiv.open{
    display: block;
      margin-top: 30px;
}
